[Unit]
Description=Grafana via tar
After=network.target

[Service]
ExecStart=/usr/local/bin/grafana-server --homepath=/opt/grafana-9.2.4
Restart=always
User=root

[Install]
WantedBy=multi-user.target
